.player-page-container {
  max-width: 100%;
}

.headline {
  font-size: 1.5rem;
  color: rgb(106, 106, 106);
}

.player-page-grid p:not(.headline) {
  color: goldenrod;
  font-size: 1.6rem;
  padding-bottom: 50px;
}

.player-name {
  font-weight: 600 !important;
  font-size: 2rem !important;
  grid-column: span 2 !important;
  margin-bottom: 40px;
}
