.player-container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, auto);
  padding: 0 30px;
  max-width: 100%;
  justify-items: center;
  margin-top: 50px;
}

.player-card {
  padding: 20px;
  width: 80%;
  height: 90%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: #b9ab53;
}

.player-img-container {
  position: relative;
  width: 100%;
}

.player-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.logo-rank {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 80px;
  background-color: black;
  border: solid #b9ab53;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  border-top-right-radius: 10px;
}

.logo-rank img {
  width: 100%;
}

.logo-rank p {
  color: #b9ab53;
  font-size: 1.5rem;
  text-align: center;
  border-top: solid #b9ab53;
  font-family: "New Amsterdam", sans-serif;
  font-weight: bolder;
  margin: 0;
  width: 74px;
  margin-top: 7px;
}

.logo-rank p span {
  font-weight: 400;
  font-size: 1rem;
}

.img-button {
  width: 30px;
  position: relative;
  bottom: 40px;
  left: 10px;
  transition: transform ease-in-out;
}

@keyframes rotatingball {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-button:hover {
  animation: rotatingball 1s linear infinite;
}

/* slider */
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.player-img-container,
.slider-info {
  flex: 0 0 100%;
}

/* Slider Info */
.slider-info {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
}

.slider-dots {
  position: absolute;
  bottom: 15px;
  left: 92%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.dot {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  border: 2px solid white;
}

.dot.active {
  border: 2px solid #b9ab53;
}

/* Laver slider effekt */
.slider-inner {
  display: flex;
  transition: transform 600ms ease-in-out;
}

.slider-inner.slide-left {
  transform: translateX(-100%);
}

.slider-inner.slide-right {
  transform: translateX(0%);
}

/* Slider info - info inside */
.slider-info p {
  background-color: #b9ab53;
  font-size: 2rem;
  padding: 5px;
  border-radius: 10px;
  text-align: start;
  margin-bottom: 8px;
  width: 200px;
  font-family: "New Amsterdam", sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
}

.slider-info span {
  color: black;
}

.slider-info img {
  width: 15%;
}

/* Responsive */
@media screen and (max-width: 1240px) {
  .player-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .logo-rank {
    width: 58px;
  }

  .logo-rank p {
    width: 58px;
  }
}

@media screen and (max-width: 850px) {
  .slider-info p {
    padding: 2px;
  }
}

@media screen and (max-width: 815px) {
  .player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .player-card {
    margin-bottom: 40px;
    width: 70%;
    padding-top: 30px;
    padding-bottom: 0px;
  }

  .logo-rank {
    display: block;
    width: 90px;
  }

  .logo-rank p {
    font-size: 2.5rem;
    width: 77px;
  }

  .logo-rank p span {
    font-size: 1.5rem;
  }

  .player-img {
    height: 100%;
  }

  .slider-info p {
    padding: 10px;
    font-size: 2.3rem;
  }
}
